In [ ]:
# Import dependencies and pg_key
import pandas as pd
import sqlalchemy
import pprint
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
from pg_keys import pg_key

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://localhost:5432/<your_db_name>')
connection = engine.connect()

In [ ]:
# Import salaries csv into a DataFrame for visualisation

In [ ]:
# Create a histogram to visualize the most common salary ranges for employees

In [ ]:
#Â Import relevant csv files

In [ ]:
# Merge the DataFrames into a single DataFrame

In [ ]:
# Create a bar chart of average salary by title